numpy==1.26.4
matplotlib
scipy==1.13.1
scikit-learn==1.5.0
tqdm==4.66.4
pip-tools==7.4.1
pre-commit==3.8.0
pycocotools==2.0.8
torch==1.13.0
torchmetrics
torchvision==0.14.0
transformers
wget==3.2.0
pyyaml==6.0.1
open_clip_torch
lightning<1.9.0
pydantic<2.0
gdown
httpx
wandb<0.17.0
